.wallet-container {
  margin: 20px;
  text-align: center;
}

.wallet-container-details {
  margin: 20px;
}

.transaction-form{
  margin-bottom: 20px;
}

.setup-form {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two equal columns */
  gap: 20px 10px; /* Space between grid items */
  max-width: 300px;
  margin: auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-group {
  display: contents; 
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  grid-column: span 2; /* Button spans both columns */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


.view-transactions-link {
  display: block;
  margin-top: 20px;
  color: #007bff;
}

.view-transactions-link:hover {
  color: #0056b3;
}
